<?php

// default planner list (all, starred, today, tomorrow, week, done)
$rcmail_config['default_list'] = "all";

// show todo's always when true or only in all, starred and done
$rcmail_config['list_todo_always'] = false;

// show plan preview while composing
$rcmail_config['preview_plan'] = true;

// show contact birthdays in planner
$rcmail_config['birthdays'] = true;

?>
