<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><roundcube:object name="pagetitle" /></title>
  <roundcube:include file="/includes/links.html" />  
</head>
<body>
  <roundcube:include file="/includes/header.html" />
  <roundcube:include file="/includes/taskbar.html" />
  <div id="messagetoolbar">
    <roundcube:container name="toolbar" id="toolbar" />
  </div>
  <div id="planner">
    <div id="planner_input">
      <input id="planner_raw" type="text" autocomplete="off" />
      <input id="planner_submit" type="submit" value="<roundcube:label name="planner.plan" />" />
    </div>
    <ul id="planner_controls">
      <li><a href="#" id="all" title="<roundcube:label name="planner.show_all" />"><roundcube:label name="planner.all" /></a></li>
      <li><a href="#" id="starred" title="<roundcube:label name="planner.show_starred" />"><roundcube:label name="planner.starred" /></a></li>
      <li><a href="#" id="today" title="<roundcube:label name="planner.show_today" />"><roundcube:label name="planner.today" /></a></li>
      <li><a href="#" id="tomorrow" title="<roundcube:label name="planner.show_tomorrow" />"><roundcube:label name="planner.tomorrow" /></a></li>
      <li><a href="#" id="week" title="<roundcube:label name="planner.show_week" />"><roundcube:label name="planner.week" /></a></li>
      <li><a href="#" id="done" title="<roundcube:label name="planner.show_done" />"><roundcube:label name="planner.done" /></a></li>
      <li><a href="#" id="help" title="<roundcube:label name="planner.help" />">?</a></li>
    </ul>
    <div id="planner_help">
	  <p>
	  <roundcube:label name="planner.help_text" />
	  </p>
      <p>
	  <strong><roundcube:label name="planner.syntax" />:</strong><br />
	  today, tomorrow, &lt;dd/mm/yyyy&gt.<br />
      &lt;hh:mm&gt;, &lt;hh&gt;h.<br />
      (example: today 13h Lunchtime!)
    </div>
    <div id="planner_items"></div>
  </div>
</body>
</html>
