/*
 * Roundcube Planner
 */
#taskbar a.button-planner {
  background: url('images/planner.png') 0px 3px no-repeat;
}
#planner {
  margin: 0 auto;
  margin-top: 60px;
  width: 800px;
  font-family: Helvetica,Arial,"Liberation Sans","Bitstream Vera Sans",sans-serif;
}
#planner a {
  text-decoration: none;
}
#planner_input {
  height: 60px;
}
input#planner_raw {
  padding: 5px;
  padding: 9px;  
  border: solid 1px #e5e5e5;  
  outline: 0;  
  font: normal 13px/100% Verdana, Tahoma, sans-serif;  
  width: 500px;
  background: #ffffff;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
input#planner_raw:hover, input#planner_raw:focus {  
  border-color: #c9c9c9;  
}  
input#planner_submit {
  width: auto;  
  padding: 8px 15px;  
  margin-bottom: 12px;
  background: #127fbe;  
  border: 0;  
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

ul#planner_controls {
  display: inline;
  padding: 5px 0;
  background: #dfdfdf;
  width: 700px;
  border-radius: 5px 5px;
  box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1);
}
ul#planner_controls li {
  display: inline;
  padding: 10px 20px;
  font-weight: bold;
}
ul#planner_controls li a:hover {
  color: #555555;
}
#planner_help {
  display: none;
  width: 500px;
  font-size: 11px;
}
#planner_items ul {
  margin: 20px 0;
  padding: 0;
}
#planner_items li {
  display: block;
  list-style: none;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  margin: 3px;
  font-size: 17px;
  background: #dfdfdf;
  width: 700px;
  border-radius: 5px 5px;
  box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1);
}
#planner_items li.today {
  background: #efefef;
}
#planner_items li a {
  display: block;
  width: 15px;
  height: 15px; 
  margin-top: 2px;
  margin-right: 5px;
  cursor: pointer;
}
span.date {
  font-size: 18px;
  position: relative;
  left: 0px;
  top: -7px;
}
span.time {
  position: relative;
  left: -45px;
  top: 8px;
  font-size: 14px;
}
span.datetime {
  position: relative;
  left: -30px;
}
span.nodate {

}
a.star {
  float: left;
  background: url('images/sprite.png') no-repeat 0px -25px;
}
a.nostar {
  float: left;
  background: url('images/sprite.png') no-repeat;
}
a.nostar:hover {
  background-position: 0px -25px;
}
a.delete {
  float: right;
  background: url('images/sprite.png') no-repeat 0px -125px;
}
a.delete:hover {
  background-position: 0px -100px;
}
a.done { 
  float: right;
  background: url('images/sprite.png') no-repeat 0px -75px;
}
a.done:hover {
  background-position: 0px -50px;
}
